<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAoiEQdk5ue0YiOENrTgX9Y9Li3sq97TFQ</string>
	<key>GCM_SENDER_ID</key>
	<string>724484146778</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.femaleHealth</string>
	<key>PROJECT_ID</key>
	<string>female-health-e1d27</string>
	<key>STORAGE_BUCKET</key>
	<string>female-health-e1d27.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:724484146778:ios:31e6da8cd128302a9efa63</string>
</dict>
</plist>